*.code-workspace
.DS_Store
.env
.rsa_private.pem
.vscode
/extra/ssl/certbot
/extra/ssl/dhparam.pem
/extra/ssl/nginx*
/traefik/certs/*
gcs_keyfile.json

extra/certbot/conf/ssl-dhparams.pem
extra/certbot/conf/accounts/acme-v02.api.letsencrypt.org/directory/f3a0e0b4cff5cd823211743335ee3910/meta.json
extra/certbot/conf/accounts/acme-v02.api.letsencrypt.org/directory/f3a0e0b4cff5cd823211743335ee3910/private_key.json
extra/certbot/conf/accounts/acme-v02.api.letsencrypt.org/directory/f3a0e0b4cff5cd823211743335ee3910/regr.json
extra/certbot/conf/archive/payments.pledgeqa.com/cert1.pem
extra/certbot/conf/archive/payments.pledgeqa.com/chain1.pem
extra/certbot/conf/archive/payments.pledgeqa.com/fullchain1.pem
extra/certbot/conf/archive/payments.pledgeqa.com/privkey1.pem
extra/certbot/conf/live/README
extra/certbot/conf/live/payments.pledgeqa.com/cert.pem
extra/certbot/conf/live/payments.pledgeqa.com/chain.pem
extra/certbot/conf/live/payments.pledgeqa.com/fullchain.pem
extra/certbot/conf/live/payments.pledgeqa.com/privkey.pem
extra/certbot/conf/renewal/payments.pledgeqa.com.conf
extra/certbot/conf/live/payments.pledgeqa.com/README
extra/certbot/conf/options-ssl-nginx.conf
